.nftEditMain {
    margin-top: 15%;
    text-align: center;
}
.nftInfo{
    border: 2px solid rgb(132, 131, 131);
    border-radius: 10px;
    padding: 2%;
    width: 70%;
    margin: auto;
}
.nftEditDeleteBtn {
    margin-top: 5%;
}
.nftEditBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    margin-right: 10px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
}
.nftEditBtn:hover {
    background-color: #d32121;
}
.nftDeleteBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
}
.nftDeleteBtn:hover {
    background-color: #d32121;
}

/*------------------------------------------------------ Edit Modal -----------------------------------------------------------------------------*/

.editModal {
    padding: 5%;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
}
.editNftHeading {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.editBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    margin-top: 2%;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
}
.editBtn:hover {
    background-color: #d32121;
}
.deleteModal {
    padding: 6% 4%;
    text-align: center;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
}
.deleteModalHeading {
    font-size: 20px;
    margin-top: 2%;
}
.deleteModalBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    margin-top: 2%;
    transition: all 0.5s ease 0s;
}
.deleteModalBtn:hover {
    background-color: #d32121;
}
